extends sidebar.pug
block scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel="stylesheet" href="/stylesheets/slider_multiple.css")
    link(rel="stylesheet" href="/stylesheets/flashcards.css")
    link(rel="stylesheet" href="/stylesheets/buttons.css")

block content
    button(id="max_page" hidden value= max)
    a(class="number_per_page" href="/flashcards/entries=5/") 5
    a(class="number_per_page" href="/flashcards/entries=10/") 10

    br
    a(class="next_page" href="#") Next
    a(class="previous_page" href="#") Previous
    button(id="show_all_translations" class="pulse" value="show") Show All Translations
    br
    each val in values= values
       div(class="slider")
           div(class='slide')
               div(class="slide_word")= val.word
               button(class="show_translation raise" value="show") Show Translation
               div(class='slide_translation' hidden)= val.translation
               form(method="get" action="/edit/" + val.word)
                   button(class="fill edit_flashcard" value= val.word) edit
               form(method="get" action="/delete/" + val.word)
                   button(class="fill delete_flashcard" value= val.word type="submit") delete
    script(src="/js/flashcards.js")