extends sidebar.pug
block scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel="stylesheet" href="/stylesheets/slider_multiple.css")
    link(rel="stylesheet" href="/stylesheets/flashcards.css")
    link(rel="stylesheet" href="/stylesheets/load_more.css")
    link(rel="stylesheet" href="/stylesheets/buttons.css")
    link(rel="stylesheet" href="/stylesheets/breadcrumb.css")
block content
    button(id="max" hidden value= length)
    button(id="order" hidden val= order)
    button(id="entries" hidden val=entries)
    div(id="select_options")
        div(class="breadcrumbs" id="entries_per_page")
            ul
                li
                    label All
                li
                    label 1
                li
                    label 5
                li
                    label 10
                li
                    label 20
                li
                    label 40
                li
                    label Cards
        div(class="breadcrumbs_large" id="sort_order")
            ul
                li
                    label Time
                li
                    label Random
                li
                    label Alphabet
                li
                    label Order


    div(class="flashcards")
        each val in values= values
            div(class="slider")
                div(class='slide')
                    div(class="slide_word")= val.word
                    button(class="show_translation raise" value="show") Show Translation
                    div(class='slide_translation' hidden)= val.translation
                    div(class="multiple_forms")
                        form(method="get" action="/edit/" + val.word)
                            button(class="fill edit_flashcard" value= val.word) edit
                        form(method="get" action="/delete/" + val.word)
                            button(class="fill delete_flashcard" value= val.word type="submit") delete

    br
    div(id="loads")
        a(href="#" id="load_more") Load More
        a(href="#" id="load_less")
    p(class="totop")
        a(href="#top") Back to Top

    script(src="/js/load_more.js")
    script(src="/js/select_options.js")