html
    head
        title= title
    body
        h1= message
        ul
            each val in values= values
                li= val.word
                val.translation
                val.example
