extends sidebar.pug
block scripts
    link(rel="stylesheet" href="/stylesheets/review.css")
block content
    |Alphabetical
    br
    button(id="previous_button")
        img(src="/img/next_icon.png")
    button(id="next_button")
        img(src="/img/previous_icon.png")
