extends sidebar.pug
block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    //link(rel="stylesheet" href="/stylesheets/review.css")
    link(rel="stylesheet" href="/stylesheets/slider_review.css")
    link(rel="stylesheet" href="/stylesheets/carousel.css")
block content
    //|Chronological
    //br
    //button(type="submit" id="next_button" value=index)
        //img(src="/img/next_icon.png")

    //button(id="previous_button" value=index)
        //img(src="/img/previous_icon.png")

    //br
    //br
    //label= word
    //br
    //button(id="show_translation" value="show") Show Translation
    //p(id="translation" hidden)= translation
    //p(id="example" hidden)= example
    button(id="index" value= index hidden)
    button(id="max" value= max hidden)
    br
    br
    div(id="carousel")
        each flashcard in flashcards
            div(class="slider hideLeft")
                div(class='slide')
                    div(class="slide_word")= flashcard.word
                    div(class='slide_translation')= flashcard.translation
    div(class="buttons")
        button(id="prev") Prev
        button(id="next") Next

    //script(src="/js/review_chronological.js")
    script(src="/js/carousel_test.js")
