
html

    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
        link(href="/stylesheets/simple-sidebar.css" rel="stylesheet")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        block scripts



    body


        nav(class="navbar navbar-expand-lg fixed-top")
            div(class="nav navbar-nav")
                li
                    button(href="#menu-toggle" class="btn btn-secondary" id="menu-toggle")
                        img(src="/img/hamburger_icon.png")



        div(id="wrapper")
            div(id="sidebar-wrapper")
                ul(class="sidebar-nav")
                    li
                        a(class="menuitems" href="/") Home Page
                    li
                        a(class="menuitems" href="/flashcards") Flashcards
                    li
                        a(class="menuitems" href="/review_flashcard") Review
                    li
                        a(class="menuitems" href="#") About

            div(id="page-content-wrapper")
                div(class="container-fluid")

                    block content


        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.bundle.min.js")
        script(src="/js/sidebar.js")


