button {
    -webkit-appearance: none;
    background: transparent;
    border: none;
    outline:none;
}

button:focus {
    outline:0;
}

svg {
    padding: 5px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    position: absolute;
    top: 15%;
    right: 0px;
    margin-top: -45px;
    margin-left: -35px;
    width: 70px;
    height: 90px;
}

.left {
    left: 10%;
}

.right {
    left: 90%;
}

.left:hover polyline,
.left:focus polyline {
    stroke-width: 3;
}

.left:active polyline {
    stroke-width: 4;
    transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
    stroke-width: 3;
}

.right:active polyline {
    stroke-width: 4;
    transition: all 100ms ease-in-out;
}

polyline {
    transition: all 250ms ease-in-out;
}